{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "htmlWitespaceSensitivity": "css",
  "jsxBracketSameLine": true,
  "jsxSingleQuote": false,
  "jsxSingleAttributePerLine": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 120,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "tailwindConfig": "./frontend/tailwind.config.js",
  "tailwindFunctions": ["clsx", "tw"],
  "tailwindPreserveDuplicates": true,
  "twConfig": "./frontend/tailwind.config.js",
  "twClassesPosition": "as-is",
  "twJsxClassAttributes": "class,className,tw",
  "twSortFunctions": "clsx,classNames,cx",
  "twPluginsOrder": "container,position,inset",
  "twUnknownClassesPosition": "end",
  "trailingComma": "all",
  "useTabs": false
}
